@keyframes glow {
    from {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px blue, 0 0 35px blue;
    }
    to {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0073e6, 0 0 40px #0073e6, 0 0 50px #0073e6, 0 0 60px blue, 0 0 70px blue;
    }
}

    @keyframes glow1 {
        from {
          text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px red, 0 0 20px red, 0 0 25px red, 0 0 30px red, 0 0 35px red;
        }
        to {
          text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px red, 0 0 40px red, 0 0 50px red, 0 0 60px red, 0 0 70px red;
        }
}

    @keyframes anim{
        0%{
        transform: translateX(0);
                
        }
        100%{
        transform: translateX(-1590px);    
        }
        

    }
@import url("https://fonts.googleapis.com/css2?family=Nerko+One&display=swap");

body{
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    font-size: 50px;
    color: red;
    text-align: center;
    font-family:  'Nerko One', cursive;
}

h2{
    font-size: 20px;
    color: black;
    text-align: center;
    font-family:  'Nerko One', cursive;
    border: 1px solid black;
}
#anim{
    display : grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 40px;
    overflow: hidden;
}

.vip-background
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 100px;
        width: 350px;
        animation: anim 20s linear infinite;
        background-repeat: repeat-x;
      }

.neon-blackjack{
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 100px;
        width: 350px;
        animation: anim 20s linear infinite;
        background-repeat: repeat-x;
}

.bj{
    display: block;
        margin-left: auto;
        margin-right: auto;
        height: 100px;
        width: 350px;
        animation: anim 20s linear infinite;
        background-repeat: repeat-x;
}


#game{
    padding-top: 40px;
    display:grid;
    grid-template-columns: auto auto ;
    grid-template-rows: auto auto auto;
    justify-items: center;
    row-gap: 20px;
}

.button{
    text-align: center;
    width:160px;
    height: 65px;
    border-radius:10px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}



#request{
    background-color:blue;
}

#request:hover{
    transform: scale(1.2);
}


#computer{
    background-color: red;
}

#computer:hover{
    transform: scale(1.2);
    
}

.card-spot{
    width: 130px;
    height: 155px;
}

#info{
    font-size: 65px;
    text-align: center;
    color: #fff;
    animation: glow 1s ease-in-out infinite alternate;
}

#info{
    font-size: 40px;
    text-align: center;
    color: blue;
    animation: glow 1s ease-in-out infinite alternate;
}

#info1{
    font-size: 40px;
    text-align: center;
    color: red;
    animation: glow1 1s ease-in-out infinite alternate;
}