@keyframes glow {
    from {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
    }
    to {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0073e6, 0 0 40px #0073e6, 0 0 50px #0073e6, 0 0 60px #0073e6, 0 0 70px #0073e6;
    }
}

body{
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#game{
    
    padding-top: 150px;
    display:grid;
    grid-template-columns: auto auto ;
    grid-template-rows: auto auto auto;
    border: 2px solid red;
    justify-items: center;
    row-gap: 20px;
}

.button{
    text-align: center;
    background-color:white;
    width:140px;
    height: 65px;
}

.card-spot{
    width: 130px;
    height: 155px;
}

#info{
    font-size: 65px;
    text-align: center;
    color: #fff;
    animation: glow 1s ease-in-out infinite alternate;
}

#info{
    font-size: 65px;
    text-align: center;
    color: blue;
    animation: glow 1s ease-in-out infinite alternate;
}

#info1{
    font-size: 65px;
    text-align: center;
    color: red;
    animation: glow 1s ease-in-out infinite alternate;
}